
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

data/
*.db

go.work
go.work.sum

node_modules/
web/node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local environment files
.env
.env.local
.env.*.local
*.local

# OS junk
.DS_Store
Thumbs.db

# Editor directories
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache / temp
.eslintcache
__screenshots__/
*.timestamp-*-*.mjs
coverage/

# Cypress / Vitest
/cypress/videos/
/cypress/screenshots/


data/uploads/
data/devices.json
data/tokens.json

# =====================================
# MISC
# =====================================
# If you use Tailscale or VPN configs
*.conf

# Backup files
*.bak
*~

#why u tryna look at that
TODO.txt
#binary
filetransfer
#testing sending txt files
cmd/client/*.txt
cmd/client/hi
client/test

server/config.json
server/filetransfer-server

server/docker-data

config.json